.slider {
    width: 60%;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
    margin-left: 150px;
    column-gap: 15px                                                                                                                            ;
}

.slider-images {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 calc(100% / 3);
    /* Each slide takes 1/3 of the slider's width */
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 200px;
    /* Adjust height as needed */
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.product-info {
    padding: 15px;
    text-align: center;
    background-color: #f7f7f7;
}

.product-info h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}