.slider {
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Imgs {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}