.main{
  display: flex;
  flex-direction: column;
}
.vimal-quote{
  margin-top: 5rem;
width: 80%;
margin-left: auto;
margin-right: auto;
}
.dropdown-container {
  display: flex;
  flex-direction: row;
}
.dropdown-box{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 150px;
  color: white;
}
.drop-box{
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.selectcat{
  border: none;
  background: none;
}
 .selec {
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
   box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
   padding-bottom: 1%;
   background: transparent;
   backdrop-filter: blur(10px);
   height: 40px !important;
   width: 150px;
   clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 49%, 83% 100%, 20% 100%, 0 100%, 0 0);
   position: relative;
   justify-content: center;
   background-color: #26928C;
  color: rgb(0, 0, 0);
 }

 .selec::after {
   content: "";
   height: 35px;
   width: 143px;
   position: fixed;
   background-color:#32E3D9;
   z-index: -1;
   top: 2px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 49%, 83% 100%, 20% 100%, 0 100%, 0 0);
 }

.quote-label{
  margin-top: 7px;
  margin-left: 200px;
  
  
}

.selectcat{
  padding: 10px;
  width: 170px;
  height: 50px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 15px;
  
}

.selectcat option {
  background-color: #32E3D9;
  color: #000000;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.selectcat option:hover {
  background-color: #32E3D9;
  color: #000;
}

.selected-model-show{
  display: flex;
  color: white;
  align-content: center;
  gap: 15px;
  margin-left: 650px;
  margin-top: 35px;
  margin-bottom: 10px;
}
.quote-show-table{
  margin-top: 20px;
}
.image-img{
  width: 50px;
}
.quote-add-btn{
  margin-left: 50px;
  margin-top: 100px;
  background: none;
  color: white;
  border: 2px solid #32E3D9;
  letter-spacing: 1px;  
  font-size: 20px;
  text-transform: uppercase;
  align-items: center;
  height: 35px;
  width: 60px;
  margin-top: 150px;
  padding-top: -7px;
}
.quote-remove{
  border:2px solid #32E3D9;
  background: none;
  color: white;
  width: 70px;
}
.inc-dec-btn{
    border: 2px solid #32E3D9;
      background: none;
      color: white;
      width: 25px;
      height: 25px;
      padding: 3px;
}

.table-container {
  width: 100%;
  max-width: 800px; /* Adjust as needed */
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container .quote-thead {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #000000;
  

  
}
.quote-td{
  color: #ddd;
  font-size: 20px;
  width: 800px;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 2px solid #32E3D9;
}
.quote-data:hover{
  color: rgb(110, 9, 9);
}
.quote-row{
  border:2px solid #15e4fd;
  border-bottom: 2px solid #32E3D9;
  width: 500px;
}
.quote-thead{
  width: 500px;
  font-size: 20px;
  background-color: #121214;
  color: white;
}


.total-details{
  color: white;
  margin-left: 1450px;
}


.table-container .actions {
  display: flex;
  gap: 5px;
}

.quote-btns{
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
  gap: 15px;
}
.quote-clear-btn{
  background-color: rgb(102, 6, 6);
  width: 100px;
  height: 30px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
}


.download-quotation-btn{
  width: 100px;
  height: 35px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 150px;
  background-color: #32E3D9;
    border: none;
  clip-path: polygon(90% 0, 100% 34%, 100% 100%, 10% 100%, 0 66%, 0 0);
}
.checkout-btn{
  width: 100px;
  height: 35px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 150px;
  background-color: #32E3D9;
    border: none;
  clip-path: polygon(90% 0, 100% 34%, 100% 100%, 10% 100%, 0 66%, 0 0);
}
