/* Password.css */

.password-change {
  /* margin: 50px auto; */
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  /* margin-top: 150px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.nav-edit{
  margin-top: -20px !important;
}

.pass-change {
  margin-bottom: 20px;
  margin-top: 200px;
  padding: 20px;
  background-color: #f9f9f9;
  /* margin-right: auto; */

}

.pass-form {
  margin-bottom: 15px;
}

.pass-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.pass-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.pass-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.pass-btn1{
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px 12px;
  background-color: #006eff;
  color: #fff;
  cursor: pointer;
}
