@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


.home {
    background: url(./Ellipse\ 1.svg) no-repeat center center;
    background-size: cover;
    background-position: top center;
    /* margin-top: 90px; */
    padding: 60px 0;
    height: 100vh;
    max-height: 1000px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-pagee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
    padding-bottom: 4rem;
    height: 100vh;
}

.land-img {
    margin-left: -800px;
    margin-top: 100px;
}

.land-img img {
    width: 800px;
}

.homebtn {
    font-family: "Orbitron", sans-serif;
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* Set the number of columns and their width */
    grid-gap: 3rem;
    /* Add gap between columns */
    margin-right: 900px;
    margin-left: 100px;
    margin-bottom: 100px;
}

.homeletter {
    margin-top: 80px;
    margin-left: 800px;
    /* margin-bottom: 300px; */

}

.homeletter .sub-title {
    /* margin-top: 200px; */
    color: hsl(0, 0%, 100%);
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-shadow: 0 7px hsla(0, 0%, 0%, 0.4);
    /* margin-bottom: 155px; */
    margin-left: -750px;
    margin-top: 200px;
}

.homeletter .homelet1 {
    /* margin-top: 200px; */
    align-items: center;
    font-family: 'Oswald', sans-serif;
    display: block;
    /* font: 150px; */
    /* font-size: 2em; */
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 60px;
    color: hsl(0, 0%, 100%);
    width: 600px;
    margin-left: -600px;
}

.homebtn .homebtn1 {

    margin-top: 100px;
    color: white;
    background-color: #32E3D9;
    border: none;
    padding: 13px 34px;
    letter-spacing: 1px;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    align-items: center;
    height: 60px;
    width: 300px;
    clip-path: polygon(90% 0, 100% 34%, 100% 100%, 10% 100%, 0 66%, 0 0);
}

.homebtn .homebtn1 a {
    font-family: "Orbitron", sans-serif;
    color: white;
}

.btn-primary:is(:hover, :focus) {
    background: hsl(234, 14%, 14%);
}

.homebtn .homebtn2 {
    margin-top: 100px;
    color: white;
    background-color: #32E3D9;
    border: none;
    padding: 13px 34px;
    letter-spacing: 1px;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    align-items: center;
    height: 60px;
    width: 300px;
    clip-path: polygon(90% 0, 100% 34%, 100% 100%, 10% 100%, 0 66%, 0 0);
}

.homebtn .homebtn2 a {
    font-family: "Orbitron", sans-serif;

    color: white;
}