
.footer {
    background-color: hsl(234, 14%, 14%);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 25px;
    
}

.row-icons {
    margin-bottom: 20px;
}

.row-icons a {
    color: #fff;
    font-size: 1.5em;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.row-icons a:hover {
    color: #f1c40f;
}

.row-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.row-nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.row-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s;
}

.row-nav ul li a:hover {
    color: #f1c40f;
}

.row-copyright {
    margin-top: 20px;
    font-size: 0.8em;
    color: #bbb;
}

.row-copyright a {
    color: #f1c40f;
    text-decoration: none;
}

.row-copyright a:hover {
    text-decoration: underline;
}
